.footer-box {
    // border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Megrim', cursive;
    // background-color: #f7f9fa;
    height: 70px;
}

.footer-logo {
    // border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 230px;
    margin-right: 200px;
}

.footer-icon {
    // border: 2px solid black;
    font-size: 10px;
    width: 45px;
}

.footer-text {
    // border: 2px solid black;
    color: #618B4A;
    font-size: 35px;
    margin-left: 2px;
}

.footer-links {
    // border: 2px solid orange;
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
    width: 300px;
    // margin-left: 20px;
}

.icon {
    color: #618B4A;
}

.icon:hover {
    color: #89b174;
}