.home-background {
    background-image: image-url('autumn.jpg');
    height: 75vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: cover;
    background-position: 50% 50%;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 2px solid blue;
    font-family: 'Lora', serif;
}

.header {
    // border: 2px solid orange;
    font-size: 60px;
    margin-top: 200px;
    color: #AAADC4;
    text-shadow: 2px 2px #D6EEFF;
}

.search-box {
    // border: 2px solid orange;
    height: 80px;
    width: 800px;
    font-size: 20px;
    font-family: 'Lora', serif;
    border-radius: 40px;
    box-shadow: 10px 5px 5px #D6EEFF;
    margin-top: 50px;
    border: none;
}