.park-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // padding: 0 15px;
    max-width: 1024px;
    // align-items: center;
    // width: 68%;
    margin: auto;
    // border: 3px solid black;
    font-family: 'Roboto', sans-serif;
}

.park-photos {
    // border: 2px solid forestgreen;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    width: 100%;
    height: 100%;
    // padding: 5px;
    margin-top: 5px;
    // margin-left: 4px;
    // margin: 3px 0;
}

.trail-image {
    // border: 5px solid rgb(255, 0, 128);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // display: block;
    border-radius: 8px;
    // padding: 7px;
    // margin-left: 14px;
    // margin: 3px 0;
    width: 331px;
    height: 220px;
}

.tiny-header {
    color: #414141;
    font-weight: 700;
    font-family: Proxima Nova, Arial, sans-serif;
    font-size: 14px;
    margin-top: 8px;;
}

.park-header {
    h2 {
        margin-top: 16px;
        font-family: Proxima Nova, Arial, sans-serif;
        font-size: 32px;
        font-weight: 700;
        color: #414141;
        padding: 0 0 8px;
        margin: 16px 0 0;
    }
}

.park-summ {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    font-size: 17px;
    color: #414141;
    line-height: 1.33;
    padding: 0 0 20px;
    width: 750px;
    // border: 2px solid red;
   
}

.park-label {
    font-family: Proxima Nova, Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #414141;
    line-height: 1.33;
    margin: 0 0 8px;
}

.park-blurb {
    color: #5A5A5A;
    line-height: 1.33;
    margin-bottom: 16px;
    width: 750px;
    // border: 2px solid red;
}

.park-info {
    width: 100%;
    border-top: 1px solid rgb(207, 200, 200);
    h3 {
        font-size: 22px;
        color: #414141;
        font-family: Proxima Nova, Arial, sans-serif;
        margin: 28px 0 12px;
        font-weight: 700;
    }
}

.info {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
    // border-bottom: 1px solid rgb(207, 200, 200);
}

.info-header {
    margin-right: 330px;
    font-size: 16px;
    font-family: Proxima Nova, Arial, sans-serif;
}

.park-title {
    line-height: 1.5;
    font-weight: 700;
    color: #414141;
}

.park-text {
    line-height: 1.7;
    color: #536b24;
}

.trail-index-title {
    border-top: 1px solid rgb(207, 200, 200);
    // border: 2px solid red;
    h2 {
        margin: 26px 0 24px;
        font-size: 24px;
        font-weight: 700;
    }
}

.trail-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgb(214, 213, 213);
    height: 220px;
    margin-bottom: 25px;
}

// delete below---------------

// .trail-item-photo {
//     border: 2px solid blue;
// }

.trail-i-content {
    // border: 2px solid blue;
    height: 85%;
    margin-left: 15px;
}

// ------------------------

.trail-i-image {
    width: 288px;
    height: 192px;
    border-radius: 8px;
}

.trail-i-content {
    display: block;
    flex-direction: column;
    color: #414141;
    font-family: 'Roboto', sans-serif;
    line-height: 1.38;
    overflow: hidden;
    // white-space: nowrap;
    text-overflow: ellipsis;
    h3 {
        // display: block;
        font-size: 15px;
        font-weight: 900;
    }
}

.trail-park {
    font-size: 14px;
}

.diff-rating {
    display:flex;
    // justify-content: flex-start;
    align-items: center;
    // margin
    // border: 2px solid purple;
}

.easy {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #69a041;
    color: white;
    border-radius: 6px;
    font-size: 12px;
    width: 12%;
    height: 20px;
    // height: 15%;
}

.moderate {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4bafe1;
    color: white;
    border-radius: 6px;
    font-size: 12px;
    width: 12%;
    height: 20px;
}

.hard {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #676767;
    color: white;
    border-radius: 6px;
    font-size: 12px;
    width: 12%;
    // border: solid red;
    height: 20px;
}

.trail-length {
    margin-bottom: 15px;
    font-size: 14px;
}

.desc {
    font-size: 16px;
    // overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
}
