.sub-nav {
    display: flex;
    justify-content: space-between;
    // border: 2px solid orange;
    font-family: Proxima Nova, Arial, sans-serif;
    width: 100%;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 10px;
    // border: 2px solid blue;
    font-size: 12px;
    color: #5a5a5a;
    // margin-left: 50px;

}

.sub-search {
    // border: 2px solid red;
    padding: 10px;
    // margin-left: 280px;
    // margin-right: 60px;
    width: 28%;
    height: 30px;
}
.tiny-search {
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    width: 100%;
    min-height: 100%;
    ::placeholder {
        color: #414141;
    }
}
