.trail-bg {
    background: #f2f2f2;
}

.trail-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin: auto;
    // border: 3px solid black;
    font-family: 'Roboto', sans-serif;
}

.trail-top {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;
    // border: 2px solid orange;

    .trail-img {
        width: 1024px;
        height: 312px;
    }
    .trail-overlay {
        display: flex;
        flex-direction: column;
        // border: 2px solid blue;
        position: absolute;
        top: 195px;
        left: 20px;
        // line-height: 1.5;
        width: 1004px;
        h2 {
            font-size: 28px;
            font-weight: 700;
            color: white;
            // line-height: 1.5;
        }
        .trail-diff {
            display: flex;
            justify-content: space-between;
            // line-height: 1.5;
            // line-height: 1.33;
        }
        p {
            font-size: 14px;
            margin-top: 10px;
        }
    }
}

.trail-mid {
    background-color: #67A142;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    .button-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #67A142;
        a, a:visited {
            color: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            margin-top: -25px;
        }
        svg {
            background-color: white;
            border-radius: 50%;
            padding: 15px;
            font-size: 20px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }
        p {
            color: white;
            margin: 6px;
        }
    }
}

.trail-bottom {
    // display: flex;
    // justify-content: center;

        display: grid;
        grid-template-columns: 2fr 1fr;
        margin: auto;
        // position: relative;
        // width: 1024px;
        // grid-template-rows: 100%;

}

.vertical-left {
    // border: 2px solid fuchsia;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 1px solid #E2E2E2;
    background-color: white;
}

.trail-sum {
    // font-family: Arial, Helvetica, sans-serif;
    line-height: 1.44;
    color: #414141;
    margin: 0 24px;
    font-size: 18px;
    padding: 24px 0;
    // padding-bottom: 24px;
    border-bottom: 1px solid #E2E2E2;
}

.trail-info {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    margin: 0 24px;
    width: 450px;
}

.trail-info1 {
    line-height: 1.5;
    h3 {
        font-size: 12px;
        color: #5a5a5a;
    }
    p {
        font-size: 16px;
        color: #414141;
        font-weight: 700;
    }
}

.trail-descr {
    h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #428A13;
        background-color: #F2F2F2;
        font-weight: 700;
        padding: 24px;
    }
    P {
        padding: 24px 0;
        margin: 0 24px;
        font-size: 16px;
        line-height: 1.44;
    }
}

.trail-review {
    h2 {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #428A13;
        background-color: #F2F2F2;
        font-weight: 700;
        padding: 24px;
        width: 634px;
    }
}

.vertical-right {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: white;
    // border: 2px solid orange;
}

.map {
    border-radius: 8px;
}

.map-trail * {
    width: 291px;
    height: 243px;
}

.nearby-index {
    line-height: 1.5;
    h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #414141;
        font-weight: 700;
        // padding-bottom: 15px;
        padding: 24px 0 15px 0;
    }
}

.nearby-box {
    display: flex;
    flex-direction: column;
    width: 291px;
    height: 236px;
    border-radius: 8px;
    // border: 2px solid fuchsia;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.24), 0 0 8px 0 rgba(0,0,0,.08);
    margin-bottom: 12px;
    overflow: hidden;
    position: relative;
}


.nb-image {
    margin-top: -80px;
    // position: sticky;
    // top: 0;
}

.nb-content {
    padding: 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
    // z-index: 1;
    h3 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 16px;
        font-weight: 700;
        color: #414141;
    }
    p {
        font-size: 14px;
        color: #b8b4b4;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.33;
    }
}

.nb-content:visited {
    color: inherit
}

.diff-rating {
    display: flex;
    justify-content: flex-start;
    .easy {
        background: #69a041;
        color: white;
        border-radius: 6px;
        font-size: 12px;
        width: 80px;
        height: 18px;
        margin-right: 8px;
    }
    .moderate {
        background: #4bafe1;
        color: white;
        border-radius: 6px;
        font-size: 12px;
        width: 80px;
        height: 18px;
        margin-right: 8px;
    }
    .hard {
        background: #676767;
        color: white;
        border-radius: 6px;
        font-size: 12px;
        width: 80px;
        height: 18px;
        margin-right: 8px;
    }
}